.estilo-tabla1{
    border: 2.5px solid #000;
    width: 100%;
    text-align: center;
}
.centrarh2{
    text-align: center;
}
.centrartodo{
    width: 100%;
    text-align: center;
}
.centrarimg{
    text-align: center;
}
.fondo {
    background-color: rgb(197, 197, 197);
}